/*==================== GERAL ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*raiz do documento*/
:root{  
  --brand-violet:hsl(255, 68%, 30%);
  --brand-violet-light:hsl(255, 53%, 50%);
  --brand-violet-light-02:hsl(257, 100%, 93%);
  --brand-violet-light-03:hsl(252, 100%, 97%);

  --gray-headline:hsl(210, 11%, 15%);
  --gray-paragraph:hsl(210, 9%, 31%);
  --gray-light:hsl(0, 0%, 98%);

  --brand-beige: hsl(39, 100%, 97%);

  --nav-height: 7.2rem;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;  
  overflow: overlay;

  background-color: var(--gray-light);
}

.wrapper{
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  color: var(--brand-violet-light);
  line-height: 150%;
  text-transform: uppercase;  

  margin-bottom: 1.6rem;
  letter-spacing: 0.08rem;

}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;

  color: var(--gray-headline);
}

section header h1 {
  font-size: 3.0rem;
  color: var(--gray-headline);
  line-height: 130%;
  
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-paragraph);  
}

/*==================== NAVIGATION ====================*/

.logo {
  text-decoration: none;
  color: var(--gray-headline);
  font-size: 2rem;
}

.logo span {
  color: var(--brand-violet-light);
  font-weight: 700;
}

nav {  
  display: flex;  
  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  gap: 11.7rem;
}

nav.scroll {
  background-color: var(--brand-violet-light);
}

nav.scroll .logo {
  color: var(--brand-violet-light-03);  
}

nav.scroll .logo span {
  color: white;
}

nav.scroll svg path {
  stroke: white;
}

nav button{
  background: none;
  border: none;
  cursor: pointer;
}

/*==================== MENU EXPANDED ====================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav){
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

/*Arrumando erro de Padding */
body.menu-expanded nav .wrapper{
  gap: 3.8rem;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--brand-violet);

  padding-top: var(--nav-height);

  width: 100vw;
  height: 100vh;

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) { 
  display: flex;
  flex-direction: column;
  gap: 4.8rem;  
  margin-top: 6rem;  

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;   
}

.menu ul li a{
  color: white;
  text-decoration: none;  
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--brand-violet);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;

}

.menu .social-links {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button{
  position: relative;
  z-index: 10;
}

body.menu-expanded .logo {
  color: var(--brand-violet-light-03);  
}

body.menu-expanded .logo span {
  color: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*==================== HEADER ====================*/

#home {  
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before{
  content: "";
  width: 100%;
  height: calc(125rem + var(--nav-height)) ;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--brand-violet-light-02);
}

#home p{
  font-size: 1.8rem;
  color: var(--gray-paragraph);
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 3.2rem;
}

#home button {
  height: 5.2rem;
  width: 26.3rem;
  background-color: var(--brand-violet-light);
  margin-bottom: 6rem;
  border-radius: 4rem;
  border: none;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  /*Gap: espaço entre os itens */
  gap: 1.6rem;  

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: white;
}

#home img {
  width: 40rem;
  margin-bottom: 0rem;
}

#home .detalhes {  
  width: 32.7rem;
  height: 47rem;
  background-color: var(--brand-beige);

  margin-left: auto;
  margin-right: auto;
  /*margin-inline: auto;*/
  border-radius: 0.6rem;
  border: 0.1rem solid var(--brand-violet-light-03);

  display: flex;
  flex-direction: column;  
  justify-content: center;
  gap: 6rem;

  padding-top: 4rem;
  padding-bottom: 4rem;
  /*padding-block: 4rem;*/
}

#home .detalhe h3{
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--gray-headline);
  margin-bottom: 0.4rem;
}

#home .detalhe p{
  margin: 0;
  font-weight: 400;
  line-height: 150%;
  color: var(--brand-violet-light);
}

/*==================== SERVICES ====================*/

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem
}

#services .card {
  padding: 2.4rem; 

 text-align: left;

 background-color: white;
border: 1px solid var(--brand-violet-light-03);
border-radius: .6rem;
}

#services .card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;

  margin-block: 1.6rem;

  color: var(--gray-headline);

}


/*==================== ABOUT ====================*/
#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}







