/*==================== GERAL ====================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*raiz do documento*/
:root{  
  --brand-violet:hsl(255, 68%, 30%);
  --brand-violet-light:hsl(255, 53%, 50%);
  --brand-violet-light-02:hsl(257, 100%, 93%);
  --brand-violet-light-03:hsl(252, 100%, 97%);

  --gray-headline:hsl(210, 11%, 15%);
  --gray-paragraph:hsl(210, 9%, 31%);
  --gray-light:hsl(0, 0%, 98%);

  --brand-beige: hsl(39, 100%, 97%);

  --nav-height: 7.2rem;

  font-size: 62.5%; /* 1rem = 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;  
  overflow: overlay;
}

.wrapper{
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

/*==================== HEADER ====================*/

header {  
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before{
  content: "";
  width: 100%;
  height: calc(125rem + var(--nav-height)) ;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--brand-violet-light-02);
}

header h4{
  font-size: 1.4rem;
  color: var(--brand-violet-light);
  line-height: 150%;
  margin-bottom: 1.6rem;  
}

header h1 {
  font-size: 3.0rem;
  color: var(--gray-headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

header p{
  font-size: 1.8rem;
  color: var(--gray-paragraph);
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 3.2rem;
}

header button {
  height: 5.2rem;
  width: 26.3rem;
  background-color: var(--brand-violet-light);
  margin-bottom: 6rem;
  border-radius: 4rem;
  border: none;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  /*Gap: espaço entre os itens */
  gap: 1.6rem;  

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: white;
}

header img {
  width: 40rem;
  margin-bottom: 0rem;
}

.detalhes {  
  width: 32.7rem;
  height: 47rem;
  background-color: var(--brand-beige);

  margin-left: auto;
  margin-right: auto;
  /*margin-inline: auto;*/
  border-radius: 0.6rem;
  border: 0.1rem solid var(--brand-violet-light-03);

  display: flex;
  flex-direction: column;  
  justify-content: center;
  gap: 6rem;

  padding-top: 4rem;
  padding-bottom: 4rem;
  /*padding-block: 4rem;*/
}

.detalhe h3{
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--gray-headline);
  margin-bottom: 0.4rem;
}

.detalhe p{
  margin: 0;
  font-weight: 400;
  line-height: 150%;
  color: var(--brand-violet-light);
}

/*==================== NAVIGATION ====================*/

.logo {
  text-decoration: none;
  color: var(--gray-headline);
  font-size: 2rem;
}

.logo span {
  color: var(--brand-violet-light);
  font-weight: 700;
}

nav {  
  display: flex;  
  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%); 
  width: 100vw;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--brand-violet-light);
  width: 100vw;
}

nav.scroll .logo {
  color: var(--brand-violet-light-03);  
}

nav.scroll .logo span {
  color: white;
}

nav.scroll svg path {
  stroke: white;
}

nav button{
  background: none;
  border: none;
  cursor: pointer ;
}

/*==================== MENU EXPANDED ====================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav){
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;

  padding-top: var(--nav-height);

  background-color: var(--brand-violet);
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}


body.menu-expanded nav{
  position: relative;
}

.menu ul{ 
  display: flex;
  flex-direction: column;
  gap: 4.8rem;  
  margin-top: 6rem;  
  margin-inline: auto;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;   
}

.menu ul a{
  text-decoration: none;  
  color: white;
}

.menu .button {
  background-color: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: var(--brand-violet);

  display: inline-block;
  padding: 1.6rem 3.2rem;
}

.menu ul.social-links {
  margin-top: 8rem;   
  flex-direction: row;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button{
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo {
  color: var(--brand-violet-light-03);  
}

body.menu-expanded .logo span {
  color: white;
}











